@use "../custom" as *;
.card {
  width: 221.32px;
  margin-bottom: 20px;
}
.badge {
  height: 66px;
  width: 221.32px;
  display: flex;
  border-radius: 5.95489px;
  background-color: $purple;
  margin-bottom: 10px;

  &--green {
    background-color: $green;
    color: $white;
  }
  &--purple {
    background-color: $purple;
    color: $white;
  }
  &--cream {
    background-color: $cream;
    color: $green;
  }
  &--white {
    background-color: $white;
    color: $green;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.01);
  }
  &--black {
    background-color: $black;
    color: $white;
  }
  
  .logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10.3px 11.91px;
      
    .logo {
      width: 32.26px;
      &--green {
        fill: $white;
      }
      &--purple {
        fill: $white;
      }
      &--cream {
        fill: $green;
      }
      &--white {
        fill: $green;
      }
      &--black {
        fill: $white;
      }
    }

    .logoName {
      width: 39.7px;
      &--green {
        fill: $white;
      }
      &--purple {
        fill: $white;
      }
      &--cream {
        fill: $green;
      }
      &--white {
        fill: $green;
      }
      &--black {
        fill: $white;
      }
    }
  }
  .textContainer {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 12.65px 0;

      .preText {
        font-size: 12.41px;
        font-weight: 400;
        line-height: 15.07px;
        
      }
      .mainText {
        font-size: 17.86px;
        line-height: 21.71px;
        font-weight: 700;
        
      }
  }
}
.optionListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 24px;
  margin-bottom: 10px;
  
  .optionListText {
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 17.01px;
    color: $green;
    padding-left: 1px;
    margin: 0 0;
  }
}
