@use "../custom" as *;
.card {
  width: 221.32px;
}
.badge {
  height: 66px;
  width: 221.32px;
  display: flex;
  border-radius: 5.95489px;
  background-color: $purple;
  margin-bottom: 10px;
  
  .logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10.3px 11.91px;
    
    .logo {
      width: 32.26px;
    }
    .logoName {
      width: 39.7px;
    }
  }
  .textContainer {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $white;
    margin: 12.65px 0;

      .preText {
        font-size: 12.41px;
        font-weight: 400;
        line-height: 15.07px;
        
      }
      .mainText {
        font-size: 17.86px;
        line-height: 21.71px;
        font-weight: 700;
        
      }
  }
}
.optionListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 24px;
  margin-bottom: 10px;
  
  .optionListText {
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 17.01px;
    color: $green;
    padding-left: 1px;
    margin: 0 0;
  }
}
