@use "../custom" as *;

.card {
  width: 221.32px;
  margin-bottom: 20px;
}

.optionListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 24px;
  margin-bottom: 10px;
  
  .optionListText {
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 17.01px;
    color: $green;
    padding-left: 1px;
    margin: 0 0;
  }
}

