@use "../custom" as *;

.checkboxDiv {
  width: 18px;
  height: 18px;
  margin-right: 3px;

  label{
    width: 18px;
    height: 18px;
    position: absolute;
  }
}

input[type="checkbox"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 0px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.checkbox {
  display: inline-block; 
  height: 18px;
  width: 18px;
  background: $white;
  border: 2px $lightblack solid;
  border-radius: 2px;
}

label:hover {
  &::before {
    position: absolute;
    content: "";
    width: 37px;
    height: 37px;
    left: -9.5px;
    top: -9.5px;
    background-color: $lightgreen;
    opacity: 0.5;
    box-shadow: 0px 0px 1.36722px rgba(0, 0, 0, 0.35);
    border-radius: 50%;
    transition: transform 0.3s ease;
  }
};

.checkbox--active {
  border-color:$green;
  background: $green;
}