@use "../custom" as *;

.container {
  background-color: $bgOffWhite;
  height: 419px;
  width: 851px;
  padding: 2.25rem;
  border-radius: 8px;
  box-shadow: 
  0 42px 76px rgba(0, 0, 0, 0.05), 
  0 27.22px 44.51px rgba(0, 0, 0, 0.038),
  0 16.18px 24.21px rgba(0, 0, 0, 0.0304),
  0 8.4px 12.35px rgba(0, 0, 0, 0.025),
  0 3.42px 6.19px rgba(0, 0, 0, 0.0196),
  0 0.78px 2.99px rgba(0, 0, 0, 0.012)
}

.containerHeader {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  text-align: left;
  border-bottom: 2px solid $grey;
}