// Custom Colors

$white: white;
$black: black;
$green: rgba(59, 117, 95, 1);
$purple: #2E3A8C;
$cream: #F2EBDB;
$bgWhite:#ffffff;
$bgOffWhite: #f9f9f9;
$grey: #b0b0b0;
$toggle-grey: rgb(249, 249, 249)