// Custom Colors

$white: #ffffff;
$black: #000000;
$lightblack: #212121;
$green: #3b755f;
$lightgreen: #afc6bd;
$purple: #2E3A8C;
$cream: #F2EBDB;
$bgWhite:#ffffff;
$bgOffWhite: #f9f9f9;
$grey: #b0b0b0;
$toggle-grey: #f9f9f9